<div class="form-group">
  <%= m.label :name %>
  <%= m.text_field :name, class: 'form-control' %>
</div>

<div class="form-group">
  <%= m.label :admission_date %>
  <div class="input-group date" data-provide="datepicker" data-date-format="dd/mm/yyyy">
    <div class="input-group-addon">
      <i class="fa fa-calendar"></i>
    </div>
    <%= m.text_field :admission_date, class: 'form-control pull-right' %>
</div>
</div>

<div class="form-group">
  <%= m.label :rank %>
  <%= m.text_field :rank, class: 'form-control' %>
</div>

<div class="form-group">
  <%= m.label :registration %>
  <%= m.text_field :registration, class: 'form-control' %>
</div>


<script>
    $('.input-group.date').datepicker({
    	format: 'dd/mm/yyyy',
    	language: 'pt-BR',
    	todayHighlight: true
    });
</script>
