<% provide(:current_page, "Ambiente de Aplicativos") %>
<% provide(:current_page_version, "v3.2") %>

<!-- Left side column app. contains the features -->
<% content_for :left_side do %>
  <%= render 'left_side' %>
<% end %>

<div class="row">
  <div class="col-xs-12">
    <% if @applications.count > 0 %>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-briefcase right-margim-simple"></i>Aplicativos Funcionais</a></li>
      </ol>
      <div class="row">
        <%= render 'roles_functions' %>
      </div>
    <% end %>

    <% if @applications_add.count > 0 %>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-plus right-margim-simple"></i>Aplicativos Adicionais</a></li>
      </ol>
      <div class="row">
        <%= render 'roles_additional' %>
      </div>
    <% end %>
    <% if @applications_generics.count > 0 %>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-cubes right-margim-simple"></i>Aplicativos Genéricos</a></li>
      </ol>
      <div class="row">
        <%= render 'roles_generic' %>
      </div>
    <% end %>
  </div>
</div>
