<% provide(:current_page, "Recursos Humanos") %>
<% provide(:current_page_version, "v1.0") %> <!--Versão do aplicativo-->

<% content_for :left_side do %>
  <%= render 'left_side' %>
<% end %>

  <div class="row">
    <div class="col-xs-12">



      <div class="box box-primary">
        <!-- form start -->
        <%= form_for :search, url: users_path, method: :get, html: {role: 'form'} do |f|%>
          <div class="box-body">

              <div class="form-group col-lg-3">
                <%= f.label "Nome" %>
                <%= f.text_field :full_name, class: 'form-control', placeholder: 'busque pelo nome' %>
              </div>

              <div class="form-group col-lg-2">
                <%= f.label :cpf %>
                <%= f.text_field :cpf, class: 'form-control', placeholder: 'busque pelo CPF' %>
              </div>

              <div class="form-group col-lg-3">
                <%= f.label "E-mail" %>
                <%= f.text_field :email, class: 'form-control', placeholder: 'busque pelo e-mail' %>
              </div>
              <div class="form-group col-lg-3">
                <%= f.label "Matrícula" %>
                <%= f.text_field :registration, class: 'form-control', placeholder: 'busque pela matrícula' %>
              </div>

            <div class="form-group col-lg-2">
              <br />
              <%= f.submit :buscar, class: 'btn btn-success' %>
            </div>
          </div>
        <% end %>

        <table class="table table-bordered">
          <thead>
            <tr>
              <th style="width: 10px">#</th>
              <th>Nome</th>
              <th>Email</th>
              <th>Permissões</th>
              <th colspan="3">Ações</th>
            </tr>
          </thead>
          <tbody>
            <% if @users.empty? %>
            <tr>
              <td colspan="5" style="text-align: center"><h3>Nem um usuário encontrado.</h3></td>
            </tr>
            <% end %>
          <% @users.each_with_index do |user, index| %>
          <tr>
            <td><%= index+1 %></td>
            <td class="col-xs-4"><%= "#{user.person.full_name}" %></td>
            <td class="col-xs-2"><%= user.email %></td>
            <td class="col-xs-1">
              <% user.permissions.each do |permission| %>
                <span class="label label-info" data-toggle="tooltip" data-placement="top" title="<%= permission.description %>"><%= permission.human_name %></span>
              <% end %>
            </td>
            <td class="col-xs-1">
              <%= link_to user_path(user) do %>
                <i class="fa fa-2x fa-eye"></i>
              <% end %>
            </td>
            <td class="col-xs-1">
              <%= link_to edit_user_path(user) do %>
                <i class="fa fa-2x fa-edit"></i>
              <% end %>
            </td>
            <td class="col-xs-1">
              <%= link_to user_path(user), method: :delete, data: {confirm: "Voce tem certeza?"} do %>
                <i class="fa fa-2x fa-trash"></i>
              <% end %>
            </td>
          </tr>
          <% end %>
          </tbody>
        </table>
        <div class="box-footer clearfix">
            <%= paginate @users %>
        </div>

      </div>
    </div>
</div>
