<% provide(:current_page, "Recursos Humanos") %>
<% provide(:current_page_version, "Cadastrar Usuário") %>

<% content_for :left_side do %>
  <%= render 'left_side' %>
<% end %>

<div class="row">
  <div class="col-xs-12">
    <!-- general form elements -->
    <div class="box box-primary">
      <div class="box-header with-border">
        <h3 class="box-title">Formulario de Cadastro</h3>
      </div>
      <!-- /.box-header -->
      <!-- form start -->

      <%= form_for @user, html: { role: 'form'} do |f| %>
        <div class="box-body">

          <%= render 'fields', f: f, user: @user %>
          <h3>Dados Profissionais</h3>
          <%= f.fields_for :military do |m| %>
            <%= render 'militaries/fields', m: m %>
          <% end %>
          <h3>Dados Pessoais</h3>
          <%= f.fields_for :person do |p| %>
            <%= render 'people/fields', p: p %>
            <%= p.fields_for :address do |a| %>
              <%= render 'addresses/fields', a: a %>
            <% end %>
          <% end %>

          <div class="box-footer">
            <button type="submit" class="btn btn-primary btn-block">Salvar</button>
          </div>
        </div>
      <% end %>
    </div>
    <!-- /.box -->

  </div>
</div>
