<% provide(:current_page, 'Usuário') %>

<div class="row">
  <div class="col-md-12">

    <div class="box box-primary">
      <div class="box-body box-profile">
        <%= image_tag 'militar.png', class: 'profile-user-img img-responsive img-circle' %>

        <h3 class="profile-username text-center"><%= @user.military.name %></h3>

        <ul class="list-group list-group-unbordered">
          <li class="list-group-item">
            <b>Nome completo</b> <span class="pull-right"><%= @user.person.full_name %></span>
          </li>
          <li class="list-group-item">
            <b>CPF</b> <span class="pull-right"><%= @user.person.cpf %></span>
          </li>
          <li class="list-group-item">
            <b>RG</b> <span class="pull-right"><%= @user.person.rg %></span>
          </li>
          <li class="list-group-item">
            <b>Celular</b> <span class="pull-right"><%= @user.person.mobile_phone %></span>
          </li>
          <li class="list-group-item">
            <b>Telefone</b> <span class="pull-right"><%= @user.person.home_phone %></span>
          </li>
          <li class="list-group-item">
            <b>Email</b> <span class="pull-right"><%= @user.email %></span>
          </li>
        </ul>
      </div>
      <!-- /.box-body -->
    </div>

    <div class="box box-primary">
      <div class="box-body box-profile">
        <h3>Dados Profissionais</h3>
        <ul class="list-group list-group-unbordered">
          <li class="list-group-item">
            <b>Matrícula</b> <span class="pull-right"><%= @user.military.registration %></span>
          </li>
          <li class="list-group-item">
            <b>Patente</b> <span class="pull-right"><%= @user.military.rank %></span>
          </li>
          <li class="list-group-item">
            <b>Data de Admissão</b> <span class="pull-right"><%= @user.military.admission_date.strftime("%d/%m/%Y") if @user.military.admission_date.present? %></span>
          </li>
        </ul>
      </div>
      <!-- /.box-body -->
    </div>

    <div class="box box-primary">
      <div class="box-body box-profile">
        <h3>Endereço</h3>
        <ul class="list-group list-group-unbordered">
          <li class="list-group-item">
            <b>Logradouro</b> <span class="pull-right"><%= "#{@user.person.address.street}, Nº #{@user.person.address.number} " %></span>
          </li>
          <li class="list-group-item">
            <b>Bairro</b> <span class="pull-right"><%= @user.person.address.district %></span>
          </li>
          <li class="list-group-item">
            <b>Cidade</b> <span class="pull-right"><%= @user.person.address.city %></span>
          </li>
        </ul>
      </div>
      <!-- /.box-body -->
    </div>

    <div class="box box-primary">
      <div class="box-body box-profile">
        <h3>Situações</h3>
        <!--  @user.situation do |f_situation| -->
        <!-- render '../situations/fields', f: f_situation -->
        <!-- end  -->
      </div>
      <!-- /.box-body -->
    </div>

  </div>
</div>
